@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .bgImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .treatment-bg {
    background-image: url(../assets/images/treatment//bg.webp);
  }
}


/* react-multi-carousel related style */
.react-multi-carousel-dot button {
  width: 8px !important;
  height: 8px !important;
  border: 0 !important;
  border-radius: 100% !important;
  background-color: #AEAEAE !important;
}

.react-multi-carousel-dot--active button {
  background-color: #0D8079 !important;
  width: 25px !important;
  border-radius: 16px !important;
}

.brands .react-multi-carousel-list {
  height: 200px;
}

.react-multi-carousel-dot-list {
  bottom: 44px !important;
}

.review .react-multi-carousel-list {
  overflow: hidden !important;
}

/* Swiper bullet */

.swiper-pagination-bullet-active{
  background-color: #FFFFFF !important;
  width: 25px !important;
  border-radius: 16px !important;
}

.swiper-pagination-bullet{
  background-color: #FFFFFF80;
}
                